<p>
  <strong>Kitchen:</strong>
  <%= @kitchen.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kitchen.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @kitchen.restaurant.brand_name %>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>State</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |item| %>
      <% @product = item.selected_product %>
      <tr>
        <td><%= item.id %></td>
        <td><%= @product.title %></td>
        <td><%= item.quantity %></td>
        <td>$ <%= item.state %></td>
        <% if item.sent_to_kitchen? %>
          <td><%= link_to 'Accept', accept_order_item_path(item) %></td>
          <td><%= link_to 'Out of Stock', reject_order_item_path(item) %></td>
        <% else %>
          <td colspan="2"><%= link_to 'Ready', prepared_order_item_path(item) if item.paid? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
